<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="container text-center">
        <div class="row">
          <div class="col-12">Board</div>
        </div>
        <div class="row">
          <div class="col-6 right-line"></div>
          <div class="col-6"></div>
        </div>
        <div class="row">
          <div class="col-3 right-line"></div>
          <div class="col-3 right-line top-line"></div>
          <div class="col-3 right-line top-line"></div>
          <div class="col-3"></div>
        </div>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-2">General Manager</div>
          <div class="col-4">Human Resoure Manager</div>
          <div class="col-2">Design Manager</div>
          <div class="col-2"></div>
        </div>
        <div class="row">
          <div class="col-6 right-line"></div>
          <div class="col-6"></div>
        </div>
        <div class="row">
          <div class="col-3 p-0">
            <div class="halved right-line"></div>
            <div class="halved top-line"></div>
          </div>
          <div class="col-3 p-0">
            <div class="halved right-line top-line"></div>
            <div class="halved top-line"></div>
          </div>
          <div class="col-3 p-0">
            <div class="halved right-line top-line"></div>
            <div class="halved top-line"></div>
          </div>
          <div class="col-3 p-0">
            <div class="halved right-line top-line"></div>
            <div class="halved"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">Trainer</div>
          <div class="col-3">Design supervisor</div>
          <div class="col-3">Recruiting Team</div>
          <div class="col-3">Drafting Supervisor</div>
        </div>
      </div>

    </div>
  </div>