<mat-nav-list>
    <div class="logo py-4">
      <img src="assets/logo.png" alt="Besant technologies" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2" style="color: #ffffff;">Navigation</h2>
  
    <a mat-list-item routerLinkActive="list-item-active"    routerLink="/home">
      <mat-icon style="color: #ffffff;">home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active"  routerLink="/dashboard">
      <mat-icon style="color: #ffffff;">dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active"  routerLink="/employee">
      <mat-icon style="color: #ffffff;">supervised_user_circle</mat-icon> Employee
    </a>

    <a mat-list-item routerLinkActive="list-item-active"  routerLink="/add-employee">
      <mat-icon style="color: #ffffff;">accessibility_new</mat-icon> Addemployee
    </a>

   <!-- <a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>-->
   
  </mat-nav-list>